/vendor
!/vendor/unisharp
/node_modules
/public/storage
/public/photos/*
Homestead.yaml
Homestead.json
.env
.idea
/config/database.php
/laradock
/public/apps/TopAuto.apk
/public/vendor/FFMpeg
/bower_components
/public/videos

!/public/photos/add_image.jpg
!/public/photos/water_mark3.png
