body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.navbar-default {
    /*background-color: #00B7E1;*/
    /*filter: alpha(opacity=60);*/
    /*!* IE *!*/
    /*-moz-opacity: 0.6;*/
    /*!* Mozilla *!*/
    /*opacity: 0.6;*/
    /*!* CSS3 *!*/
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #000;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-brand {
    padding-top: 5px;
}

#published_at {
    background: url('/assets/images/calendar-icon-tiny.png') 99% 3px no-repeat transparent;
}

.bs-example-bg-classes p {
    padding: 15px;
}

.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.clearfix {
    clear: both;
}

.sub-date-auth {
    color: #777;
    font-size: 12px;
    font-style: italic;
    margin-top: 0;
}

.sub-date-auth .sub-auth {
    color: #333;
}

.blog .body {
    padding: 15px 0;
}

.form label {
    margin-top: 10px;
}

.form input.published {
    margin-top: 15px;
}

.article_reviews {
    padding: 10px 0;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    line-height: 0px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.highlight {
    background: #eee;
    padding: 5px;
    margin: 5px 0;
}

.published_label {
    line-height: 40px;
}

.published_label input {
    margin-right: 10px;
}

/*content*/

#app-layout {
    background: #FFF;
}

/*navigation top*/
#app-navbar-collapse ul {
    float: left;
}

#app-navbar-collapse ul li {
    float: left;
    padding: 10px;
}

#app-navbar-collapse ul.navbar-right {
    float: right;
}

#app-navbar-collapse ul li a {
    color: #ffeeee;
}
#app-navbar-collapse ul.dropdown-menu li a {
    color: #0275d8;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

#top_user_login_link {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form-group {
    clear: both;
}

#top_user_login_link a.dropdown-toggle{
    color: #FFF;
}