body {
    margin:10px;
    background-color: #FFF1E0;
    letter-spacing: 0.5px;
    line-height: 4.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    color: #333;
    font-size: 20pt;
}

.article-preview {
    width: 380px;
    height:520px;
    overflow-y: scroll;
}

.article-preview .title {
    font-size: 19px;
    font-weight: bold;
    padding: 15px;
}

.article-preview .content p{
    display: block;
}

.article-preview .category {
    color: #c3b0b0;
    padding-bottom: 15px;
}