body {
    background-color: #FFF1E0;
    /*letter-spacing: 0.5px;*/
    font-family: "Heiti SC", "Helvetica Neue", Helvetica, Arial, sans-serif;

    margin: 17px auto;
    padding: 0;
    text-align: left;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-bottom: 24px;
    line-height: 40px;
}

.subtitle {
    /*margin: 30px;*/
    font-size: 5px;
}

.description{
    margin-top: 25px;
    color: #9e9e9e;
    font-size: 15px;
}

.category {
    float: left;
    color: #9e9e9e;
    font-size: 15px;
}

.comment {
    float: right;
    color: #9e9e9e;
    font-size: 15px;
}

.content {
    /*margin: 30px;*/

}

p {
    color: #333;
    font-size: 40px;
    line-height: 40px;
}

.content p{
    color: #555;
    font-size: 18px;
    line-height: 27px;
}

.content p img {
    text-align: center;
    width: 90%;
    height: auto;
}
.clearfix {
    clear: both;
}


.article-preview {
    /*height: 736px;*/
    /*overflow-y: scroll;*/
    /*max-width:1000px;*/
    /*margin: 17px;*/
    /*width: 90%;*/
    /*alignment: center;*/
}
