body {
    letter-spacing: 0.5px;
    font-family: "Heiti SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFF1E0;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-bottom: 24px;
    line-height: 40px;
}

.subtitle {
    /*margin: 30px;*/
    font-size: 5px;
}

.description{
    margin-top: 25px;
    color: #9e9e9e;
    font-size: 15px;
}

.category {
    float: left;
    color: #9e9e9e;
    font-size: 15px;
}

.comment {
    right: 10px;
    color: #9e9e9e;
    font-size: 15px;
    min-width: 80px;
    position: absolute;

}

.content {
    /*margin: 30px;*/

}

p {
    color: #333;
    font-size: 40px;
    line-height: 40px;
}

.content p{
    color: #555;
    font-size: 18px;
    line-height: 27px;
}

.content p img {
    text-align: center;
    width: 100%;
    height: auto;
}
.clearfix {
    clear: both;
}

.recommend_top{
    background-color: #F0DFAE;
    font-size: 23px;
    padding-left: 5%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.recommend_container{
    height: 80px;
    padding: 10px;
}

.recommend_title{
    font-size: 17px;
    color: black;
}

.recommend_subtitle{
    color: #9e9e9e;
    font-size: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.recommend_readed{
    min-width: 80px;
    position: absolute;
    right: 120px;
}

.recommend_subInfo{
    max-width: 50%;
    position: absolute;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.recommend_list{
    margin: 0 auto;
}

.comment_list{
    margin: 0 auto;
    padding: 10px;
}

.recommend_icon{
    padding-right: 90px;
    padding-top: 10px;
    width: 80px;
    height: 60px;
}

.article_divider{
    height: 1px;
    background-color: lightgray;
    padding-left:10%;
}

.comment_content{
    color: black;
}
.comment_delete{
    padding-top: 5px;
    margin: 0 auto;
    color: #9e9e9e;
    padding-left: 13px;
}

.comment_approve{
    margin: 0 auto;
    color: #9e9e9e;
    font-size: 10px;
    text-align: center;
}

.article-preview {
    /*background-color: #FFF1E0;*/
    /*height: 736px;*/
    /*overflow-y: hidden;*/
    max-width:800px;
    margin: 0 auto;
    /*width: 90%;*/
    /*alignment: center;*/
}
